@import "master.scss";
.article {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border: 1px solid $light-grey-2;
    border-radius: 5px;
    background: #ffffff;
    .row {
        .user-details {
            padding: 15px !important;
            background: $light-grey;
            .posted-date {
                color: $dark-grey-2;
            }
        }
    }
    .post {
        .description {
            padding: 15px;
            border: 1px solid $light-grey;
            border-radius: 5px;
            text-align: justify;
        }
    }
    .options {
        text-align: right;
    }
    .comment-form {
        form#new_comment {
            .input>label {
                display: none !important;
            }
            .input>textarea {
                width: 100%;
                padding: 5px;
                margin-top: 10px;
                text-align: justify;
            }
        }
        input[type="submit"] {
            width: 100%;
            height: 35px;
            border: none;
            background-color: $indigo-lighten-3;
            color: #ffffff;
        }
        input[type="submit"]:hover {
            background-color: $indigo-lighten-1;
            transition: 0.2s ease-in-out;
        }
    }
}